<section class="hero-container">
    <div class="holder">
        <h1>Tu sitio favorito sobre tu juego preferido</h1>
        <h2>Blog de noticias, sección de aprendizaje y más!!</h2>
    </div>
</section>
<section class="noticias-container">
    <article class=" holder blog-post">
        <div class="blog-post__img">
            <img src="images/noticias/Niki-Riga_-Abhimanyu-Mishra.jpg" alt="Foto de Abhimanyu Mishra. Por: Niki-Riga.">
        </div>
        <div class="blog-post__info">
            <div class="blog-post__date">
                <span>Lunes</span>
                <span>Septiembre 20</span>
            </div>
            <h3 class="blog-post__title">El nuevo Gran Maestro más joven de la historia del ajedrez</h3>
            <p class="blog-post__text">
                <a href="https://www.chess.com/players/Abhimanyu-Mishra">Abhimanyu Mishra</a>, de doce años de
                Englishtown, Nueva Jersey, <b>se convirtió el miércoles
                    30 de junio de 2021 en el gran maestro más joven del mundo</b> en un torneo en Budapest,
                Hungría, y logró la tercera y última norma crítica con una victoria sobre el gran maestro indio
                Leon Mendonca, también de 12 años.
            </p>
            <a href="#" class="blog-post__cta">Leer más</a>
        </div>
    </article>

    <article class=" holder blog-post">
        <div class="blog-post__img">
            <img src="images/noticias/Gaprindashvili-demanda-netflix.png"
                alt="Nona Gaprindashvili, en 1975. Foto: Hans Peters/Dutch National Archives.">
        </div>
        <div class="blog-post__info">
            <div class="blog-post__date">
                <span>Viernes</span>
                <span>Septiembre 17</span>
            </div>
            <h3 class="blog-post__title">Nona Gaprindashvili demanda a Netflix por presunta difamación en 'The
                Queen's Gambit'</h3>
            <p class="blog-post__text">
                GM <a href="https://www.chess.com/players/nona-gaprindashvili">Nona Gaprindashvili</a> ha
                presentado una demanda contra Netflix por "falsa invasión de la privacidad", luego de que una
                línea de la exitosa serie The Queen's Gambit sugiriera, erróneamente, que ella sólo jugaba
                contra otras mujeres.
            </p>
            <a href="#" class="blog-post__cta">Leer más</a>
        </div>
    </article>

    <article class="holder blog-post">
        <div class="blog-post__img">
            <img src="images/noticias/Magnus-Carlsen.png"
                alt="El miércoles, Magnus Carlsen venció a Vladimir Fedoseev. Foto: David Llada/FIDE.">
        </div>
        <div class="blog-post__info">
            <div class="blog-post__date">
                <span>Jueves</span>
                <span>Agosto 5</span>
            </div>
            <h3 class="blog-post__title">Copa del Mundo de la FIDE: Carlsen gana magistralmente</h3>
            <p class="blog-post__text">
                GM <a href="https://www.chess.com/players/magnus-carlsen">Magnus Carlsen</a> se recuperó luego
                de su derrota en la semifinal de la <a
                    href="https://www.chess.com/es/article/view/copa-mundo-fide-2021-informacion">Copa del Mundo
                    de la FIDE</a>. El campeón del mundo realizó una obra maestra con las piezas negras y
                derrotó a<a href="https://www.chess.com/players/vladimir-fedoseev"> GM Vladimir Fedoseev</a> en
                la primera partida del match por el tercer puesto. La final de
                la Copa del Mundo comenzó con unas tablas rápidas entre <a
                    href="https://www.chess.com/players/sergey-karjakin">GM Sergey Karjakin</a> y <a
                    href="https://www.chess.com/players/jan-krzysztof-duda">GM Jan-Krzysztof Duda.</a>
            </p>
            <a href="#" class="blog-post__cta">Leer más</a>
        </div>
    </article>
    
    <a class="btn-novedades" href="/novedades">Ver más novedades</a>
    
</section>