<article class="holder">
    <h1>Sobre Mi</h1>
    <section class="contenido">
        <p>Hola! Mi nombre es Cristian.</p>
        <p><strong>Enroque.c</strong> fue creado como proyecto para un <i>curso de programador web</i> 📖. Elegí hacer
            una página de ajedrez por qué es una de las cosas que me fascinan y me gusta la idea de poder compartir las
            cosas que sé sobre este juego y además usarlo como oportunidad para poner en práctica la programación web.
        </p>
        <p>Tengo 24 años y aprendí ajedrez de manera autodidacta, buscando por Internet todos los recursos posibles para
            aprender cada día un poco más. Hice una <i>Diplomatura Universitaria en Enseñanza del Ajedrez</i> y
            actualmente doy algunas clases particulares de manera online. ♟️</p>
        <p>Igual no solo el ajedrez es lo único que me interesa. También soy bajista en una banda de rock y en este
            último tiempo encontré el interés por el mundo de la programación web. Por eso hoy existe este blog!</p>
        <p>Mi intención es que las personas que quieran comenzar tengan los recursos en un solo lugar. Y para aquellos
            que ya sepan... Bueno, los invito a ver las noticias! 😀</p>
    </section>
</article>