<article class="Conteiner-nivel holder">
    <h2 class="Titulo-nivel">Inicial <span>(Movimientos y Reglamento)</span></h2>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/movimientos-2.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Movimientos de las piezas</h3>
                    <p class="Parrafo-nivel">Aprendamos el movimiento de las piezas y como armar el tablero para
                        comenzar a jugar</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">8 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-pawn">Principiante</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/tablero-inicial.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Reglamentos Básicos</h3>
                    <p class="Parrafo-nivel">Conoce las reglas básicas necesarias para jugar una partida de princio a
                        fin</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">10 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-pawn">Principiante</span></div>
                </div>
            </div>
        </a>
    </div>
</article>

<article class="Conteiner-nivel holder">
    <h2 class="Titulo-nivel">Principiante <span>(Conceptos básicos)</span></h2>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/principios-apertura.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Principios básicos de la apertura</h3>
                    <p class="Parrafo-nivel">Saber los principios de la apertura te permite sacar ventaja en las
                        primeras jugadas</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">6 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-bishop">Principiante</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/mates-basicos.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Jaque mates</h3>
                    <ul>
                        <li>Mate Pastor</li>
                        <li>Mate con dama</li>
                        <li>Mate con dos torres</li>
                        <li>Mate con una torre</li>
                    </ul>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">4 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-bishop">Principiante</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/captura-de-piezas.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Captura de piezas</h3>
                    <p class="Parrafo-nivel">Conseguí capturar más piezas enemigas con estos conceptos y tácticas</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">8 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-bishop">Principiante</span></div>
                </div>
            </div>
        </a>
    </div>
</article>

<article class="Conteiner-nivel holder">
    <h2 class="Titulo-nivel">Intermedio <span>(Conceptos clave)</span></h2>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/activa-las-piezas.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Activas las piezas</h3>
                    <p class="Parrafo-nivel">Consigue las mejores casillas para tus piezas</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">7 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-queen">Intermedio</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/entendiendo-los-finales.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Entendiendo de finales</h3>
                    <p class="Parrafo-nivel">Cuando quedan pocas piezas. ¿Qué debemos hacer?</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">7 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-queen">Intermedio</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/tacticas-avanzadas.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Tácticas avanzadas </h3>
                    <p class="Parrafo-nivel">Sacrifios, patrones de mate y tacticas más avanzadas</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">10 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-queen">Intermedio</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/leer-el-tablero.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Leer el tablero </h3>
                    <p class="Parrafo-nivel">Saber entender lo que pasa en el tablero nos va a permitir armar un mejor
                        plan</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">7 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-queen">Intermedio</span></div>
                </div>
            </div>
        </a>
    </div>
</article>

<article class="Conteiner-nivel holder">
    <h2 class="Titulo-nivel">Avanzado <span>(Tomando el control)</span></h2>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/principios-apertura.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Aperturas</h3>
                    <p class="Parrafo-nivel">Las ideas principales de las aperturas más populares</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">8 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-king">Avanzado</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/finales-avanzados.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Finales avanzados</h3>
                    <p class="Parrafo-nivel">Mejora tu juego en el final con estas tácticas</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">5 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-king">Avanzado</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/combinaciones-de-mate.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Tácticas más avanzadas</h3>
                    <p class="Parrafo-nivel">Mira estas combinaciones y ponete en acción</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">5 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-king">Avanzado</span></div>
                </div>
            </div>
        </a>
    </div>

    <div class="Tarjeta-nivel">
        <a href="#">
            <img src="images/aprende-ajedrez/ataque-sobre-el-rey.png" alt="" class="Img-nivel">
            <div class="Contenido-nivel">
                <div class="Contenido-principal">
                    <h3 class="Subtitulo-nivel">Atacar al rey</h3>
                    <p class="Parrafo-nivel">Como atacar al rey en distintas situaciones</p>
                </div>
                <div class="Contenido-extra">
                    <div class="extra-info"><span class="fas fa-graduation-cap">7 Capítulos</span></div>
                    <div class="extra-info"><span class="fas fa-chess-king">Avanzado</span></div>
                </div>
            </div>
        </a>
    </div>
</article>