<div class="homeimg"><img src="images/home/img01.jpg" alt="Avion"></div>
<div class="columnas">
    <article class="bienvenidos">
        <h2>Bienvenidos</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti repudiandae modi eos labore, magnam
            accusamus ducimus eveniet, excepturi ratione voluptas numquam nihil laudantium facilis unde nobis porro
            alias eligendi nostrum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa natus, ducimus veniam perspiciatis nobis
            officiis totam delectus dignissimos obcaecati nesciunt illum odio reiciendis sit vero nisi ratione
            asperiores similique veritatis?</p>
    </article>
    <div class="testimonios">
        <h2>Testimonios</h2>
        <div class="testimonio">
            <span class="cita">Simplemente Excelente</span>
            <span class="autor">Juan Perez - zapatos.com</span>
        </div>
    </div>
</div>