<article class="historia">
    <h2>Historia</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ducimus, non corporis beatae laborum optio
        impedit excepturi iusto amet, consectetur libero labore magnam ullam magni repellat natus modi nobis adipisci.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ad unde vel dolor vero facere nostrum aliquid dolore
        quae iusto, sapiente nemo porro minima inventore? Odit corporis ab quia similique?</p>
</article>

<article>
    <h2>Staff</h2>
    <div class="columnas">
        <div class="Card-persona">
            <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
            <h5>Juan Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus aliquam incidunt hic autem,
                corporis nostrum animi at, ex iste quasi nesciunt repellendus dolorum vel eos voluptas perspiciatis nam
                ducimus.</p>
        </div>
        <div class="Card-persona">
            <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
            <h5>Diana Reyes</h5>
            <h6>Gerente Comercial</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus aliquam incidunt hic autem,
                corporis nostrum animi at, ex iste quasi nesciunt repellendus dolorum vel eos voluptas perspiciatis nam
                ducimus.</p>
        </div>
        <div class="Card-persona">
            <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zaptos">
            <h5>Roberto Zaptos</h5>
            <h6>Gerente de Sistemas</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus aliquam incidunt hic autem,
                corporis nostrum animi at, ex iste quasi nesciunt repellendus dolorum vel eos voluptas perspiciatis nam
                ducimus.</p>
        </div>
        <div class="Card-persona">
            <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastropiero">
            <h5>Sandra Mastropiero</h5>
            <h6>Gerente de Marketing</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus aliquam incidunt hic autem,
                corporis nostrum animi at, ex iste quasi nesciunt repellendus dolorum vel eos voluptas perspiciatis nam
                ducimus.</p>
        </div>
        <div class="Card-persona">
            <img src="images/nosotros/nosotros5.jpg" alt="Luciano Figuero">
            <h5>Luciano Figuero</h5>
            <h6>Gerente Logistica</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero temporibus aliquam incidunt hic autem,
                corporis nostrum animi at, ex iste quasi nesciunt repellendus dolorum vel eos voluptas perspiciatis nam
                ducimus.</p>
        </div>
    </div>
</article>