<h2>Novedades</h2>
<article class="novedades">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sed. Asperiores voluptas
        perferendis, illum dolores quod unde minus blanditiis repellat numquam, totam est rem. Dolorum ex facilis libero
        dolorem aut.</p>
    <hr>
</article>
<article class="novedades">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laborum saepe perferendis
        non, aliquid sequi vel assumenda mollitia vitae asperiores provident voluptatum error iusto ab nesciunt in.
        Nostrum, debitis incidunt!</p>
    <hr>
</article>
<article class="novedades">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo corporis consectetur ad ullam
        libero necessitatibus quia blanditiis facere quaerat. Quidem, laborum autem praesentium animi porro eos officiis
        eligendi quisquam.</p>
    <hr>
</article>