/* Global */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header {
    background-color: #2e65a1;
    padding: 2em 0;
}

header h1{
    color: #fff;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav {
    margin-bottom: 2em;
    background-color: #6da9ed;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    min-width: 16.6%;
}

nav ul li a {
    display: block;
    padding: .2em 0em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo {
    background-color: #4c76a5;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}

footer {
    margin-top: 2em;
    padding: 3em 0;
    background-color: #ccc;
    color: #333;
    text-align: center;
}

/* Layout */
.holder {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.columnas{
    display: flex;
}

/* Home */

.homeimg{
    margin-bottom: 1.5em;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}

.testimonio .cita{
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 1.4rem;
}

.testimonio .autor {
    display: block;
    font-size: .7rem;
    text-align: center;
    margin: 1em 0;
}

/* Nosotros */

.historia p {
    font-size: .85rem;
}

.Card-persona {
    border: 1px solid gray;
    border-radius: .25em;
    text-align: center;
}

.Card-persona + .Card-persona {
    margin-left: 1em;
}

.Card-persona img {
    margin: .8em 0 1em;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    max-width: 70%;
}

.Card-persona h5,
.Card-persona h6 {
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

.Card-persona h5 {
    font-size: .9rem;
}

.Card-persona h6 {
    font-size: .8rem;
    font-style: italic;
}

.Card-persona p {
    margin: 0 1em 1em;
    font-size: .7rem;
    color: #444;
}
/* Media Queries */

@media (max-width:650px) {

    .holder {
        width: 90%;
    }

    nav ul li {
        min-width: 100%;
    }

    .columnas {
        flex-direction: column;
    }
    
    .bienvenidos,
    .testimonios {
        margin: 0 auto;
        padding: 0;
    }

    .Card-persona {
        margin: .6em auto;
        max-width: 400px;
    }

    .Card-persona + .Card-persona {
        margin-left: auto;
    }
    
}